@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text:rgba(255,255,255,0.74);
  --search-text:#706b6b;
  --color-transparent:rgba(255, 255, 255, 0.5);
  --color-high-text: white;
  --color-tint: #333;
  --bgcolor: #1D1717;
  --popUpBgColor: rgba(70,71,71,0.95);
  --borderBottomColor: rgba(196,192,192,0.24);
  --font-size: 14px;
  --line-height: 1.5;
  --icon-color: white;
  background-color: #1D1717;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* { touch-action: pan-y; }
.bgBox{
  background-color:var(--color-tint);
  width: 90%;
  margin:auto;
  margin-top:5px;
  border-radius: 10px;
  padding-bottom: 10px;    
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
li {
  list-style-type:none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
